mixin checkoutVariant(item)
    .checkout-form-variants__item
        input(type="hidden" id=item.input + item.id name=item.input value=item.id)
        label(for="#" + item.input + item.id)
            .checkout-form-variants__title=item.title
            img.checkout-form-variants__image(src=item.image)